

.inner-width {
    max-width: 600px;
    margin: auto;
    padding: 0 20px;
    padding-bottom: 50px;
}

.name, .email, .message {
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    color:black;
    padding: 10px 6px;
    font-size: 14px;
    margin-bottom: 40px;
}

.name {
    float: left;
    width: 270px;
    margin-right: 2rem;
    width: 100%;
}

.email {
    width: 80%;
    float: left;
}

.message {
    min-width: 100%;
    max-width: 100%;
}

.skills-body button:hover {
    color: #0a1722;
    background-color: #63d471;
    background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
    
}

@media screen and (max-width:600px) {
    .email {
        float: left;
    width: 270px;
    margin-right: 2rem;
    }
}